version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:80"
    networks:
      - flowstate-net
    depends_on:
      - db

  db:
    image: public.ecr.aws/supabase/postgres:17.6.1.071
    container_name: flowstate_db
    restart: always
    ports:
      - "54322:5432"
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
    volumes:
      - flowstate-db-data:/var/lib/postgresql/data
    networks:
      - flowstate-net

networks:
  flowstate-net:
    driver: bridge

volumes:
  flowstate-db-data:
    driver: local
